
.four-ad {
    overflow: hidden;
    margin: 0 auto 30px;
}
.four-ad .ad-list {
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
.four-ad .ad-list li{
    float: left;
    margin-left: 8px;
}
.brand {
    margin: 0 auto 30px;
}
.brand .marks .choice {
    margin: 0 0 20px 0;
    height: 32px;
}
.brand .marks .choice span {
    float: left;
    font-size: 25px;
    line-height: 30px;
}
.brand .choice span.text1 {
    color: #FE6E00;
}
.brand .choice span.text2 {
    color: #008CE1;
}
.brand .choice span.text3 {
    color: #666;
    font-size: 16px;
    line-height: 40px;
}
.brand .content{
    background: #fff;
    border: 1px solid #D4D4D4;
    border-top: 0;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}
.brand .content .ad-state1{
    float: left;
    width: 316px;
    height: 349px;
    overflow: hidden;
}
.brand .content .ad-group {
    margin: 0 0 0 326px;
    border: 1px solid #e4e4e4;
    height: 348px;
    overflow: hidden;
    border-right: 0;
    border-bottom: 0;
}
.brand .content .ad-group li{
    float: left;
}
.brand .content .ad-group li{
    width: 206px;
    height: 115px;
    border-right: solid 1px #e4e4e4;
    border-bottom: solid 1px #e4e4e4;
    text-align: center;
    line-height: 188px;
}
.brand .content .ad-group li:hover a{
    display: inline-block;
    width: 205px;
    height: 114px;
    border: solid 1px #FF6D00;
    line-height: 186px;
}


.classify {
    width: 1180px;
    margin: 0 auto;
}

.marks {
    border-bottom: 3px solid #018DE2;
}

.marks-nav {
    padding: 0 0 5px 0;
    height: 30px;
}

.marks .titles {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #008CE1;
    width: 337px;
    float: left;
}

.titles img {
    display: inline-block;
    vertical-align: -20%;
    height: 25px;
    width: 25px;
    margin: 0 10px 0 0;
}

.marks .small-nav {
    margin: 0 0 0 337px;
    height: 30px;
    position: relative;
}

.marks .item {
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 30px;
    padding: 0 25px;
    cursor: pointer;
}

.marks .curr {
    position: absolute;
    width: 114px;
    height: 3px;
    background: #FF6D00;
    left: 0;
    bottom: -8px;
}

.classify .curr::after {
    position: absolute;
    top: -13px;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #FF6D00;
    margin-left: -3.5px;
}

.classify .content {
    background: #fff;
    border: 1px solid #D4D4D4;
    border-top: 0;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}

.classify .ad-state3 {
    float: left;
    width: 316px;
    height: 510px;
    overflow: hidden;
    background: #f90;
}

.classify .ad-state3 img {
    width: 100%;
}

.classify .goods-list {
    margin: 0 0 0 326px;
    overflow: hidden;
}

.classify .goods-list ul {
    width: 842px;
    overflow: hidden;
    display: none;
}

.classify .goods-list ul.active {
    display: block;
}

.classify .goods-list ul li {
    float: left;
    width: 33.3%;
    padding-top: 1px;
}

.classify .goods-info {
    margin: 0 10px 0 0;
    border-bottom: 2px solid white;
}

.classify .cover {
    display: block;
    overflow: hidden;
    position: relative;
}

.classify .info-list {
    padding: 10px;
}

.classify .info-list p {
    color: black;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    overflow: hidden;
}

.classify .info-list p img {
    display: inline-block;
    width: 16px;
    height: 17px;
    margin: 0 10px 0 0;
    vertical-align: -12%;
}

.classify .width-ad {
    width: 1180px;
    overflow: hidden;
    margin: 0 auto 30px;
}

/*侧边栏css*/
.sidebar{
    display: none;
    position: fixed;
    left: 50%;
    margin-left: 610px;
    top: 30px;
    width: 50px;
    z-index: 10000;
    border: solid 1px #E0E0E0;
}
.sidebar li{
    background: #fff;
}
.sidebar li a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #666666;
    margin: 0 5px;
    border-top: solid 1px #E0E0E0;
}
.sidebar li a span{
    color: #018CDF;
}
.sidebar li:first-child a{
    border-top: solid 1px #fff;
}

.sidebar li:hover{
    background: #008CE1;
}
.sidebar li:hover a{
    color: #FFFFFD;
    border-top: solid 1px #008CE1;
}
.sidebar li:hover span{
    color: #FFFFFD;
}

.bottom img{
    margin-left: -5px;
}
.bottom li:first-child a{
    border-top: solid 1px #E0E0E0;
}
.bottom li:hover{
    background: #fff;
}
.bottom li:hover a{
    border-top: solid 1px #fff;
}
.bottom li:hover span{
    color: #666666;
}
.bottom li a span{
    color: #666666;
}













