*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*header部分*/
.content{
    width: 100%;
    background-color:#eeeeee;
}
.header{
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;
}
.headerLeft{
    float: left;
    line-height: 33px;
    font-size: 12px;
}
.headerLeft a{
    color: #666;
}
.headerRight{
    float: right;
}
.headerRight li{
    float: left;
    line-height: 33px;
}
.headerRight li a{
    color: #666;
    font-size: 12px;
    padding: 0px 15px;
    border-right:1px solid #666;
    box-sizing: border-box;
}
.headerRight li a:hover{
    color: #C81623;
}
/*搜索部分*/
.search{
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 27px 0 24px;
    overflow: hidden;
}
.logo{
    float: left;
}
.searchC{
    width: 500px;
    margin: 0 auto;
}
.searchC1{
    overflow: hidden;
    position: absolute;
    display: inline-block;
    top:6px;
}
.searchC1  li{
    float: left;
}
.searchC1  li a{
    color: black;
    padding: 10px 5px;
}
.searchC1  li a:hover{
    background-color: #008CE1;
    color: white;
}
.searchC2{
    position: relative;
    display: inline-block;
    width: 498px;
    padding-top: 27px ;
}
.searchC2 input{
    width: 450px;
    height: 30px;
    border: 2px solid #008CE1;
}
.searchC2 button{
    background-color: #008CE1;
    width: 34px;
    height: 34px;
    outline: none;
    border:none;
   position: absolute;
    right: 10px;
}
.searchC3{
    overflow: hidden;
    margin-top: 5px;
}
.searchC3 li{
    float: left;
    color: black;
    font-size: 12px;
}
.searchC3 li a{
    color: black;
    padding: 0 5px;
}
.shoppingCart{
    position: absolute;
    right: 0px;
    top:50px;
}
.shoppingCart a{
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
   line-height: 35px;
    padding: 0 5px;
    color: black;
    font-size: 14px;
    margin-right: 15px;
}
i.icon.user {
    vertical-align: middle;
    width: 24px;
    height: 28px;
    background-position: 1px -15px;
}
.icon {
    display: inline-block;
    background-image: url(../images/navImg/xuebi.png);
    background-repeat: no-repeat;
    font-style: normal;
}
i.icon.down-arrow2 {
    vertical-align: middle;
    width: 18px;
    height: 14px;
    background-position: 6px -110px;
}
/*轮播的nav部分*/
.carouselNav{
    width: 1180px;
    margin: 0 auto;
    height:46px ;
}
.carouselNav_list{
    position: relative;
    float: left;
    background-color: #018DE2;
    line-height: 44px;
    height: 46px;
    width: 175px;
    font-size: 16px;
    text-align: center;
    color: white;
}
i.icon.classes {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-position: 6px -176px;
    margin: 0 0 0 10px;
    transition: all .3s ease;
}
.carouselNav_list0{
    display: none;
    position: absolute;
    top:48px;
    left: 0;
    z-index: 80;
    width: 100%;
}
.carouselNav_list1{
    background-color: #404040;
    width: 100%;
}
.carouselNav_list1 li{
    border-bottom: 1px solid #ffffff;
    height: 52px;
    box-sizing: border-box;
}
.carouselNav_list1 li:hover{
    background-color: #ec6917;
}
.carouselNav_list1 a{
    width: 100%;
    line-height: 52px;
    display: inline-block;
    color: white;
}
.carouselNav_list1 a span:nth-child(1){
    float: left;
    margin-left: 30px;
}
.carouselNav_list1 a span:nth-child(2){
    float:right;
    font-weight: 100;
    margin-right: 15px;
}
.carouselNav_list2{
    position: absolute;
    z-index: 99;
    top:0;
    left:176px;
    width: 240%;
    opacity: 0.5;
}
.carouselNav_list2 li{
    display: none;
    width: 100%;
    position: absolute;
    background-color: black;
    height: 470px;
    text-align: left;
    padding: 10px;
}
.carouselNav_list2 li a{
    color: white;
    font-weight: 300;
    padding: 0 8px;
    border-right: 1px solid white;
    word-break: keep-all;
}
.carouselNav_list2 li a:hover{
    color: #ec6917;
}
.carouselNav_content{
    float: left;
}
.carouselNav_content li{
    line-height: 44px;
    float: left;
}
.carouselNav_content li a{
    color: #676767;
    padding: 0 40px;
    font-size: 16px;
}
.carouselNav_content li a:hover{
    color: #f60;
}
.onlineService{
    position: relative;
    float: right;
    line-height: 44px;
    color: #676767;
}
#serviceLink{
    display: none;
    width: 260%;
    position: absolute;
    top:46px;
    right:0 ;
    background-color: #fff;
    border:1px solid #f9f9f9;
    padding: 10px 10px 15px;
}
#serviceLink li{
    background-color: #ff6c00;
    margin: 5px 0;
    padding: 0 20px;
    border-radius: 5px;
}
#serviceLink li a{
    display: block;
    height: 30px;
    line-height: 30px;
    background: url("../images/navImg/QQ.png") no-repeat 0 center;
    background-size:20px ;
    padding-left: 30px;
    font-size: 14px;
    color: white;
}
/*轮播*/
.carousel{
    width: 100%;
    border-top: 2px solid #018de2;
}
.swiper-container{

}
.swiper-pagination span{
    width: 15px;
    height: 15px;
    background-color: #ff6c00;
}
.swiper-wrapper img{
    height: 470px;
}







