*{
    padding:0;
    margin:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#register_nav{
    width:100%;
    padding:0.4rem;
    background:#eeeeee;
}
#register_navS{
    width:1180px;
    margin:0 auto;
    overflow: hidden;
    font-size:0.8rem;
    color: #666;
}
#register_navL{
    float: left;
}
#register_navR{
    float: right;
}
#register_navR li{
    float: left;
}
#register_navR a,.a_color{
    color: #666;
}
.li_padding{
    margin:0 10px;
    color: #ccc;
}
#register_navR a:hover{
    color:#cf3f23;
}
#register_top{
    padding:1.7rem 0;
    overflow: hidden;
}
#register_topS{
    width:1180px;
    margin:0 auto;
}
#register_topLo{
    width:10rem;
    float: left;
    border-right:1px solid #999;
    padding-right:20px;
    margin-right:2rem;
}
#register_topRes{
    float: left;
    font-size:1.6rem;
    color: #999;
    height:5rem;
    line-height: 5rem;
}
/*mid*/
#register_mid{
    padding:2.5rem 0;
    background-color: #008ce1;
}
#register_midS{
    width:1180px;
    margin:0 auto;
    overflow: hidden;
}
#register_midL{
    float: left;
}
#register_midR{
    float: right;
    background-color: #ffffff;
    padding:1.25rem 1.87rem;
}
.register_midTop{
    color: #999;
    font-size:1.5rem;
    margin-bottom:1.25rem;
}
#isExist{
    font-size:1rem;
    color:red;
    margin-left:20px;
}
.register_midIpt{
    width:100%;
    position: relative;
}
.correctS{
    position: absolute;
    right:8px;
    top:2px;
    display: none;
}
.register_midIpt input{
    width:100%;
    padding:8px;
    border:1px solid #d3d3d3;
    background-color: #f9f9f9;
    box-sizing:border-box;
    font-size:0.8rem;
    outline: none;
}
.register_midErr{
    height:1.56rem;
    line-height: 1.56rem;
    color: red;
    font-size:0.8rem;
}
#register_midCode{
    overflow: hidden;
}
#register_midCode input{
    width:5.87rem;
    padding:0.5rem;
    box-sizing:border-box;
    outline: none;
    float: left;
    margin-right:1.2rem;
}
.register_midRand{
    padding:0.3rem;
    box-sizing:border-box;
    border:1px solid #999;
    height:2.25rem;
    width:6rem;
    display: block;
    float: left;
    letter-spacing:0.5rem;
    text-align: center;
}
.randClick2{
    display: inline-block;
    line-height:200%;
}
.getCode{
    position: relative;
}
#getCodeS{
    position: absolute;
    right:5px;
    top:5px;
    background-color: #008CE1;
    padding:1px 0.8rem;
}
#getCodeS a{
    color: white;
    font-size:0.9rem;
}
#register_midRead a{
    color: #666666;
    font-size:0.9rem;
}
.midBtn{
    margin:15px 0;
}
.midBtnPub{
    width:7.5rem;
    padding:0.75rem 0;
    outline:none;
    margin:0 20px;
    border:none;
    color: white;
    font-size:1rem;
    cursor: pointer;
    border-radius: 10px;
}
.midBtn1{
    background-color: #ec6917;
}
.midBtn1:hover{
    background-color:#ea5000;
    transition-duration:1s;
}
.midBtn2{
    background-color: #008ce1;
}
.midBtn2:hover{
    background-color:#005ce1;
    transition-duration:1s;
}
#register_midFoot{
    position: relative;
    overflow: hidden;
    width:100%;
}
.midCoopL{
    position: absolute;
    top:10px;
    width:8rem;
    left:50%;
    margin-left:-4rem;
    background-color:#ffffff;
    padding:0 5px;
}
.cooperatives{
    border-top:1px dashed #d3d3d3;
    margin-top:20px;
    text-align: center;
}
.cooperatives a{
    display: inline-block;
}
.coop1 img{
    margin:33px;
}
.coop2 img{
    margin:30px;
}
/*foot*/
#register_foot-top{
    height:5.3rem;
    line-height: 5.3rem;
    margin-top:20px;
    border:1px solid #e4e4e4;
}
#register_foot-topS{
    width:1180px;
    margin:0 auto;
    font-size:1.62rem;
    text-align: center;
    overflow: hidden;
}
#register_foot-topS li{
    float: left;
    width:20%;
    box-sizing:border-box;
}
#register_foot-topS a{
    color: #666;
    overflow: hidden;
}
#register_foot-topS img{
    width:45px;
    vertical-align:middle;
    margin-right:20px;
}
#register_foot-mid{
    border-bottom:1px solid #d3d3d3;
    padding:3rem 0;
}
#register_foot-midS{
    width:1180px;
    margin:0 auto;
    overflow: hidden;
}
.foot-mid{
    float: left;
}
.foot-mid2{
    border-right:1px solid #d3d3d3;
}
.foot-mid3{
    width:31.25rem;
}
.foot-mid2,.foot-mid3{
    margin-left:2.5rem;
}
.foot-mid-li{
     float: left;
     color: #666;
 }
.foot-mid-li a{
    display: block;
    color: #666;
}
.foot-mid-text{
    width:25%;
}
.foot-mid-text h3{
    margin-bottom:1.3rem;
}
.foot-mid-text a{
    margin-bottom:1.1rem;
}
.foot-mid-text h3 a:hover{
    color: #666;
}
.foot-mid-text a:hover{
    color: #2684c7;
}
.foot-mid2 li{
    width:9rem;
    margin-right:2rem;
    text-align: center;
}
.foot-mid2 li img{
    width:2rem;
    vertical-align: middle;
}
/*bottom*/
#register_bottom{
    text-align: center;
    font-size:0.9rem;
    padding-bottom:3rem;
}
.bottom_start{
    margin: 2rem 0 0.8rem 0;
    color: #999;
}
.bottom_end{
    color: #2784c7;
}















