<div class="four-ad">
    <ul class="ad-list">
        <li>
            <a href="">
                <img src="images/home-page/sImg-1.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="images/home-page/sImg-2.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="images/home-page/sImg-3.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="images/home-page/sImg-4.png" alt="">
            </a>
        </li>
    </ul>
</div>

<div class="brand v">
    <div class="marks">
        <div class="choice">
            <span class="text1">精选</span>
            <span class="text2">品牌&nbsp&nbsp</span>
            <span class="text3"> Brand selection</span>
        </div>
    </div>
    <div class="content">
        <a href="" class="ad-state1">
            <img src="images/home-page/sift-1.png" alt="">
        </a>
        <ul class="ad-group">
            <li ng-repeat="src in sift">
                <a href="">
                    <img src={{src}} alt="">
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="classify">
    <div class="marks">
        <div class="marks-nav">
            <h4 class="titles"><img src="images/home-page/logo.png" alt="">汽车装饰</h4>
            <ul class="small-nav">
                <li class="item">汽车美容</li>
                <li class="item">汽车装饰</li>
                <li class="item">蒸汽洗车</li>
                <li class="curr"></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <a href="" class="ad-state3">
            <img src="images/home-page/decorate-1.png" alt="">
        </a>
        <div class="goods-list">
            <ul class="active">
                <li ng-repeat="src in car1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul>
                <li ng-repeat="src in car2">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li ng-repeat="src in car1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="width-ad">
        <a href="">
            <img src="images/home-page/width-ad.png" alt="">
        </a>
    </div>

    <div class="marks">
        <div class="marks-nav">
            <h4 class="titles"><img src="images/home-page/hotel-logo.png" alt="">精品酒店</h4>
            <ul class="small-nav">
                <li class="item">魅力三亚</li>
                <li class="item">海景套房</li>
                <li class="item">商务办公</li>
                <li class="curr"></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <a href="" class="ad-state3">
            <img src="images/home-page/hotel-1.png" alt="">
        </a>
        <div class="goods-list">
            <ul class="active">
                <li ng-repeat="src in hotel1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul>
                <li ng-repeat="src in hotel2">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li ng-repeat="src in hotel1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="width-ad">
        <a href="">
            <img src="images/home-page/width-ad2.png" alt="">
        </a>
    </div>

    <div class="marks">
        <div class="marks-nav">
            <h4 class="titles"><img src="images/home-page/clothing-logo.png" alt="">服装</h4>
            <ul class="small-nav">
                <li class="item">精品男装</li>
                <li class="item">精品女装</li>
                <li class="item">夏季上新</li>
                <li class="curr"></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <a href="" class="ad-state3">
            <img src="images/home-page/clothing-1.png" alt="">
        </a>
        <div class="goods-list">
            <ul class="active">
                <li ng-repeat="src in cloth1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul>
                <li ng-repeat="src in cloth2">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li ng-repeat="src in cloth1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="width-ad">
        <a href="">
            <img src="images/home-page/width-ad3.png" alt="">
        </a>
    </div>

    <div class="marks">
        <div class="marks-nav">
            <h4 class="titles"><img src="images/home-page/building.png" alt="">建材</h4>
            <ul class="small-nav">
                <li class="item">装修定制</li>
                <li class="item">五金电工</li>
                <li class="item">厨房卫浴</li>
                <li class="curr"></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <a href="" class="ad-state3">
            <img src="images/home-page/build-1.png" alt="">
        </a>
        <div class="goods-list">
            <ul class="active">
                <li ng-repeat="src in build1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul>
                <li ng-repeat="src in build2">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li ng-repeat="src in build1">
                    <div class="goods-info">
                        <a href="" class="cover">
                            <img ng-src={{src}} alt="">
                        </a>
                        <div class="info-list">
                            <p><img src="images/home-page/icon.png" alt="">李杰</p>
                            <p><img src="images/home-page/phone.png" alt="">18699563265</p>
                            <p><img src="images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="width-ad">
        <a href="">
            <img src="images/home-page/width-ad4.png" alt="">
        </a>
    </div>
</div>