<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>易和生活港｜精品商家</title>
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/foot.css">
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/angular.min.js"></script>
    <script src="../js/controllors.js"></script>
    <script src="../lib/angular-route.min.js"></script>
    <script src="../js/appD.js"></script>
    <link rel="stylesheet" href="../lib/swiper.min.css">
    <script src="../lib/swiper.min.js"></script>
</head>
<body>
<div>
    <div ng-include="'nav.html'"></div>
</div>

<!--主要内容区域-->
<div  ng-controller="homeC" class="body">
    <!--轮播图下面广告-->
    <div class="four-ad">
        <ul class="ad-list">
            <li>
                <a href="">
                    <img src="../images/home-page/sImg-1.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/home-page/sImg-2.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/home-page/sImg-3.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/home-page/sImg-4.png" alt="">
                </a>
            </li>
        </ul>
    </div><!--four-ad-->
    <!--精选品牌-->
    <div class="brand v">
        <div class="marks">
            <div class="choice">
                <span class="text1">精选</span>
                <span class="text2">品牌&nbsp&nbsp</span>
                <span class="text3"> Brand selection</span>
            </div>
        </div>
        <div class="content">
            <a href="" class="ad-state1">
                <img src="../images/home-page/sift-1.png" alt="">
            </a>
            <ul class="ad-group">
                <li ng-repeat="src in sift">
                    <a href="">
                        <img src={{src}} alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div><!--brand-->
    <!--详细内容-->
    <div class="classify" id="cla1">
        <div class="marks">
            <div class="marks-nav">
                <h4 class="titles"><img src="../images/home-page/logo.png" alt="">汽车装饰</h4>
                <ul class="small-nav">
                    <li class="item">汽车美容</li>
                    <li class="item">汽车装饰</li>
                    <li class="item">蒸汽洗车</li>
                    <li class="curr"></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <a href="" class="ad-state3">
                <img src="../images/home-page/decorate-1.png" alt="">
            </a>
            <div class="goods-list">
                <ul class="active">
                    <li ng-repeat="src in car1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul>
                    <li ng-repeat="src in car2">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="src in car1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="width-ad">
            <a href="">
                <img src="../images/home-page/width-ad.png" alt="">
            </a>
        </div>
    </div>
    <div class="classify" id="cla2">
        <div class="marks">
            <div class="marks-nav">
                <h4 class="titles"><img src="../images/home-page/hotel-logo.png" alt="">精品酒店</h4>
                <ul class="small-nav">
                    <li class="item">魅力三亚</li>
                    <li class="item">海景套房</li>
                    <li class="item">商务办公</li>
                    <li class="curr"></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <a href="" class="ad-state3">
                <img src="../images/home-page/hotel-1.png" alt="">
            </a>
            <div class="goods-list">
                <ul class="active">
                    <li ng-repeat="src in hotel1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul>
                    <li ng-repeat="src in hotel2">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="src in hotel1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="width-ad">
            <a href="">
                <img src="../images/home-page/width-ad2.png" alt="">
            </a>
        </div>
    </div>
    <div class="classify" id="cla3">
        <div class="marks">
            <div class="marks-nav">
                <h4 class="titles"><img src="../images/home-page/clothing-logo.png" alt="">服装</h4>
                <ul class="small-nav">
                    <li class="item">精品男装</li>
                    <li class="item">精品女装</li>
                    <li class="item">夏季上新</li>
                    <li class="curr"></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <a href="" class="ad-state3">
                <img src="../images/home-page/clothing-1.png" alt="">
            </a>
            <div class="goods-list">
                <ul class="active">
                    <li ng-repeat="src in cloth1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul>
                    <li ng-repeat="src in cloth2">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="src in cloth1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="width-ad">
            <a href="">
                <img src="../images/home-page/width-ad3.png" alt="">
            </a>
        </div>
    </div>
    <div class="classify" id="cla4">
        <div class="marks">
            <div class="marks-nav">
                <h4 class="titles"><img src="../images/home-page/building.png" alt="">建材</h4>
                <ul class="small-nav">
                    <li class="item">装修定制</li>
                    <li class="item">五金电工</li>
                    <li class="item">厨房卫浴</li>
                    <li class="curr"></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <a href="" class="ad-state3">
                <img src="../images/home-page/build-1.png" alt="">
            </a>
            <div class="goods-list">
                <ul class="active">
                    <li ng-repeat="src in build1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul>
                    <li ng-repeat="src in build2">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="src in build1">
                        <div class="goods-info">
                            <a href="" class="cover">
                                <img ng-src={{src}} alt="">
                            </a>
                            <div class="info-list">
                                <p><img src="../images/home-page/icon.png" alt="">李杰</p>
                                <p><img src="../images/home-page/phone.png" alt="">18699563265</p>
                                <p><img src="../images/home-page/location.png" alt="">浙江省台州市温岭市人民西路281号</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="width-ad">
            <a href="">
                <img src="../images/home-page/width-ad4.png" alt="">
            </a>
        </div>
    </div><!--classify-->
    <!--侧边栏-->
    <div class="sidebar">
        <ul>
            <li>
                <a href1="#cla1" onclick="huadong($(this))"><span>1&nbsp&nbspF</span>汽车</a>
            </li>
            <li>
                <a href1="#cla2" onclick="huadong($(this))"><span>2&nbsp&nbspF</span>酒店</a>
            </li>
            <li>
                <a href1="#cla3" onclick="huadong($(this))"><span>3&nbsp&nbspF</span>服装</a>
            </li>
            <li>
                <a href1="#cla4" onclick="huadong($(this))"><span>4&nbsp&nbspF</span>建材</a>
            </li>
        </ul>
        <ul class="bottom">
            <li>
                <a href1="#top" onclick="huadong($(this))">
                    <img src="../images/home-page/cb_01.jpg" alt="">
                    <span>顶部</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/home-page/cb_02.jpg" alt="">
                    <span>反馈</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/home-page/cb_03.jpg" alt="">
                    <span>问题</span>
                </a>
            </li>
        </ul>
    </div><!--sidebar-->
</div>

<!--footer部分-->
<div ng-controller="footerC">
    <div ng-include="'footer.html'"></div>
</div>


<!--JS部分-->
<script>
    //轮播图JS
    new Swiper('.swiper-container',{
        autoplay: 3000,
        loop: true,
        width : window.innerWidth,
        pagination :'.swiper-pagination',
        paginationClickable:true,
    });

    //内容slider部分JS
    (function(list){
        $(".item",list).mouseover(function(){
            var _t = $(this);
            var _p = _t.parent();
            var _l = _t.position().left;
            $(".curr",_p).animate({"left":_l+"px"},200);
            var _i = _t.index();
            var ps = _t.parents("div.marks");
            var currView = ps.next();
            $("ul",currView).eq(_i).addClass("active");
            $("ul",currView).eq(_i).siblings().removeClass("active");
        });
    }($(".small-nav")));



    //回到顶部JS
    $(window).scroll(function() {
        var sTop = $(window).scrollTop();
        if (sTop > 1300) {
            $('.sidebar').fadeIn();
        } else {
            $('.sidebar').fadeOut();
        };
    });

    function huadong(obj) {
        var href = $(obj).attr("href1");
        var pos = $(href).offset().top;
        curCss(obj);
        $("html,body").stop().animate({ scrollTop: pos }, 800);
    };
    function curCss(obj) {
        obj.parent().addClass('cur');
    }




</script>
</body>
</html>
